.avatar {
    width: 200px;
    height: 200px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.form-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-horizontal input {
    width: 500px;
}