.home {
    background-color: #E4E7E8;
    height: 100vh;
}

.home-main {
    max-width: 100vh;
    text-wrap: wrap;
}

.home-main img {
    max-width: 300px;
    min-width: none;
}

.home-main p {
    font-size: 1.1rem;
}

.home-main .card {
    background-color: #18181B;
    color: #ECEDE1;
    max-width: 250px;
    min-width: 248px;
    border-radius: 20px;
    font-size: 1rem;
    min-height: 350px;
}

.home-main .card-text {
    font-size: 16px;
}

.btn-1 {
    background-color: #31966C;
    padding: 7px 10px;
    text-decoration: none;
    color: #ECEDE1;
    border-radius: 10px;
    width: 140px;
}

.btn-5 {
    background-color: #7c82804f;
    padding: 7px 10px;
    text-decoration: none;
    color: #ECEDE1;
    border-radius: 10px;
    width: 140px;
}